
body {
    background-color: gray;
    font-family: 'Fredoka One', cursive;
}

.pageHeader {
    background: rgb(129,103,0);
    background: linear-gradient(17deg, rgba(129,103,0,1) 0%, rgba(255,157,0,1) 100%);
    font-family: Roboto;
}

.middleContainerResults {
    height: 500px;   
}

.recipeName {
    background-color: white;
    color: black;
    padding: 10px;
    opacity: 0.7;
    max-width: 20%;
    border-radius: 5px;
}

.sliderBox {
    background-color: lightgray;
    border-radius: 10px;
}

.splide__list {
    height: 400px;
}

.splideBox {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.listSlide {
    justify-content: flex-start;
    background-color: white;
    mix-blend-mode: ;
    width: auto;
    padding: 10px;
    opacity: 0.9;
    border-radius: 2px;
    margin-top: 200px;    
}

.splide__slide {
    width: fit-content;
}

.topDiv1, .topDiv2, .topDiv3, .topDiv4, .topDiv5 {
    border: 1px solid black;
    height: 100%;
}

.listUL1, .listUL2, .listUL3, .listUL4, .listUL5 {
    border: 1px solid black;
    height: fit-content;
    max-width: 250px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 15px;
}

